TPOT==0.11.7
yellowbrick==1.1
scrubadub==1.2.2
feature_engine==1.1.1
pymongo==3.12.0
pmdarima==1.8.2
ftfy==6.0.3
interpret_community==0.19.3
missingno==0.5.0
arrow==1.1.1
pyjanitor==0.21.0
pyaf==3.0
pandas_profiling==3.0.0
datacleaner==0.1.5
Algorithmia==1.10.0
GitPython==3.1.18
ipython>=7.16.1
janitor==0.1.1
raiwidgets==0.9.4
scikit-learn
flatten-json==0.1.13
sqlalchemy==1.3.24
