spacy==2.2.4
tensorflow==2.0.1
plotly==4.8.0
TPOT==0.11.5
yellowbrick==1.1
scrubadub==1.2.1
pandas==1.1.3
requests==2.24.0
nltk==3.4.5
feature_engine==0.6.0
matplotlib==3.1.3
pymongo==3.10.1
pmdarima==1.6.1
numpy==1.18.1
opencv_python==4.2.0.34
ftfy==5.7
interpret_community==0.11.2
missingno==0.4.2
arrow==0.15.5
seaborn==0.11.0
pyjanitor==0.20.5
pyaf==1.2.4
statsmodels==0.11.1
pandas_profiling==2.9.0
datacleaner==0.1.5
gensim==3.8.3
Algorithmia==1.10.0
beautifulsoup4==4.9.3
GitPython==3.1.18
ipython==7.26.0
janitor==0.1.1
ktrain==0.27.2
matplotlib==3.4.3
numpy==1.21.2
raiwidgets==0.9.4
scikit_learn==0.24.2
